/* Navbar */
.nav-link {
  @apply text-light dark:text-dark font-semibold relative cursor-pointer;
}
.active-link {
  @apply text-main;
}
.active-link::after {
  content: "";
  @apply absolute top-full left-0 bg-gradient-to-r w-full h-0.5 from-main to-secondry;
}

.nav-link::after {
  content: "";
  @apply absolute top-full left-0 bg-gradient-to-r w-0 h-0.5 from-main to-secondry transition-all duration-500;
}
.nav-link:hover {
  @apply text-main;
}
.nav-link:hover::after {
  width: 100%;
}
