@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------
   Base Styles
-------------------------------- */
body {
  @apply bg-slate-50 dark:bg-[#05080F] text-light dark:text-white
         transition-colors duration-300;
}

/* -------------------------------
   Layout Utilities
-------------------------------- */
.section-container {
  @apply w-[90%] mx-auto;
}

.section-head {
  @apply relative mx-auto w-fit text-center font-bold capitalize
         text-4xl md:text-5xl text-gradient;
}

/* Divider */
hr {
  @apply border-main/30 dark:border-main/15 my-2;
}

/* -------------------------------
   Navbar
-------------------------------- */
.nav-link {
  @apply text-light dark:text-dark font-semibold relative cursor-pointer;
}
.active-link {
  @apply text-main;
}
.active-link::after {
  content: "";
  @apply absolute top-full left-0 bg-gradient-to-r w-full h-0.5 from-main to-secondry;
}

.nav-link::after {
  content: "";
  @apply absolute top-full left-0 bg-gradient-to-r w-0 h-0.5 from-main to-secondry transition-all duration-500;
}
.nav-link:hover {
  @apply text-main;
}
.nav-link:hover::after {
  width: 100%;
}

/* -------------------------------
   Contact
-------------------------------- */
.form-input {
  @apply bg-slate-50 dark:bg-slate-900 border border-main/20 dark:border-main/15 px-3 rounded-lg focus:outline-none focus:border-main;
}
.form-input-error {
  @apply bg-slate-50 dark:bg-slate-900 border border-error px-3 rounded-lg focus:outline-none;
}
/* -------------------------------
   Education
-------------------------------- */

.edu-card {
  @apply bg-white dark:bg-slate-900 rounded-lg p-3;
}
.edu-header {
  @apply text-lg font-semibold text-black dark:text-white;
}
.info-card {
  @apply bg-white dark:bg-slate-900 rounded-lg p-3 my-3;
}
/* -------------------------------
   Gradient System (Brand Identity)
-------------------------------- */
.text-gradient {
  @apply bg-gradient-to-r from-main to-secondry bg-clip-text text-transparent;
}

.bg-gradient {
  @apply bg-gradient-to-r from-main to-secondry;
}

/* -------------------------------
   Buttons Base Style
-------------------------------- */
.btn {
  @apply flex justify-center items-center gap-2
         rounded-lg font-semibold
         hover:scale-[0.97] active:scale-95
         transition-transform duration-200;
}

/* -------------------------------
   Scrollbar Customization
-------------------------------- */
::-webkit-scrollbar {
  @apply w-2 bg-slate-200 dark:bg-card_dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-main rounded-full hover:bg-secondry transition-all duration-300;
}
